{% extends "base.html"%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Beginner</li>
        </ol>
      </nav>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/1a.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='1a')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/1b.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='1b')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/1c.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='1c')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Intermediate</li>
        </ol>
      </nav>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/2a.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='2a')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/2b.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='2b')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/2c.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='2c')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page">Advanced</li>
        </ol>
      </nav>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/3a.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='3a')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/3b.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='3b')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <img src="static/3c.gif" class="img-fluid" alt="original video with landmarks">
              <a href="{{url_for('video', id='3c')}}" class="btn btn-primary">Try this training</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}